.initiative.card__title.activity__card(ng-init="isCollapsed=true" , ng-class="[{'card__title--collapsed': isCollapsed}, initiative.statusClass]", ng-click="isCollapsed=!isCollapsed; main.windowResize(); initiative.listIsHidden=false; initiative.evidenceListIsHidden=false")
  .card__delay.pull-left(ng-if="initiative.daysDelayed > 0")
    div(ng-class="(initiative.daysDelayed.toString().length < 3) ? 'f18': 'f14'") +{{initiative.daysDelayed}}
    div.f10(translate="CARD.DAYS")
  .card__title__text.pull-left
    span(title="{{initiative.initiative}}") {{initiative.initiative}}&#x200E;
  .card__title__arrow.pull-right
    span.card__title__arrow__issue(ng-if="isCollapsed && initiative.Issues.length !== 0")
      img.issue-header-icon(src="assets/images/issue-challenge.svg", width="15px")
    span.card__title__arrow__issue(ng-if="isCollapsed && initiative.Issues.length === 0 && initiative.Risk.length !== 0 ")
      img.issue-header-icon(src="assets/images/issue-risk.svg", width="15px")
    span.edit-click(ng-click="initiativeController.editCards(initiative,'activity')", ng-if="(main.getUserRights().updateAllActivities || initiative.isEditable || main.getUserRights().crudArtifacts) && !isCollapsed")
      img(src="assets/images/edit.png", width="15px")
    span.card__title__arrow__icon.pull-right
      img(src="assets/images/arrow.svg", width="15px" ng-class="isCollapsed ? 'card--isCollapsed': 'card--isNotCollapsed'")
.card__spinner(ng-if="initiative.showSpinner")
.card__content(ng-show="!isCollapsed")
  .participant-list(ng-show="initiative.listIsHidden")
    img.pull-right(ng-click="initiative.listIsHidden=!initiative.listIsHidden" src="assets/images/close-footer.svg", width="30px")
    span.f16(translate="FORM.PARTICIPANTS")
    table.participant-table(ng-if="initiative.participants.length > 0")
      thead
        td(translate="PARTICIPANT")
        td(translate="DEPARTMENT")
      tr(ng-repeat="participant in initiative.participants")
        td {{participant.name}}
        td {{participant.department}}
    .no-participant(ng-if="initiative.participants.length === 0" translate="CARD.NO_PARTICIPANTS")
  table.activity__table
    thead
      td
      td(translate="START_DATE")
      td(translate="END_DATE")
    tr
      td(translate="PLANNED")
      td {{initiative.plannedStartDateString}}
      td {{initiative.plannedEndDateString}}
    tr
      td(translate="ACTUAL")
      td {{initiative.actualStartDateString}}
      td {{initiative.actualEndDateString}}
  .participant-list(ng-show="initiative.evidenceListIsHidden")
    img.pull-right(ng-click="initiative.evidenceListIsHidden=!initiative.evidenceListIsHidden" src="assets/images/close-footer.svg", width="30px")  
    span.f16(translate="EVIDENCE")
    div(ng-if="initiative.evidence.length > 0")
      div.evidence-links.pull-left.half(ng-repeat="evidence in initiative.evidence track by $index" ng-click="main.openLink(evidence.link)")
       span.evidence-title {{evidence.title}}
       img.mail.pull-right(src="assets/images/link-arrow.svg" width="25px")
    .no-participant(translate="NO_EVIDENCE" ng-if="initiative.evidence.length === 0")

.card__footer(ng-show="!isCollapsed")
  .owner.pull-left
    img.mail.pull-left(src="assets/images/mail.svg", ng-if="initiative.owner && initiative.owner.email", width="25px", ng-click="initiativeController.canSendMail(initiative)")
    img.mail.pull-left(src="assets/images/no-mail.svg", ng-if="!(initiative.owner && initiative.owner.email)", width="25px")
    .dept.f10(title="{{initiative.owner.department}}") {{initiative.owner.department}}
    .person.f14(title="{{initiative.owner.name}}") {{initiative.owner.name}}
  .owner.pull-left    
    a.issue-log(ng-href="#/issues/{{initiative.initiativeId}}", ng-if="initiative.Issues.length > 0")
  .owner.pull-left    
    a.issue-log.pull-right(ng-href="#/issues/{{initiative.initiativeId}}", ng-if="initiative.Issues.length > 0")
      img.issue-icon.pull-left(width="20px", src="assets/images/issue-challenge.svg")
      .issue-label.pull-left(translate="CARD.ISSUE_LOG")
    a.issue-log.pull-right(ng-href="#/issues/{{initiative.initiativeId}}", ng-if="initiative.Issues.length === 0 && initiative.Risk.length > 0")
      img.issue-icon.pull-left(width="20px", src="assets/images/issue-risk.svg")
      .issue-label.pull-left(translate="CARD.RISK_LOG")
    a.add-log.pull-right(ng-href="#/issues/{{initiative.initiativeId}}", ng-if="(initiative.Issues.length === 0 && initiative.Risk.length === 0) && (initiative.isEditable || main.getUserRights().updateAllIssueLogs)")
      img.plus-icon.pull-left(width="20px", src="assets/images/plus.svg")
      .add-label.f10.pull-left(translate="CARD.NO_LOG")  
      div.f14(translate="CARD.ADD_NEW")
  .three-dots-container.three-dots-container-activity.pull-right.pointer(ng-click="main.toggleFooterMenu(initiative.initiativeId); $event.stopPropagation()")      
    .three-dots.three-dots-footer.pull-right
      ul.overflow-menu.overflow-menu-activity(ng-show="main.toggleFooter[initiative.initiativeId]")
        li.overflow-menu-item(ng-click="initiative.listIsHidden=true; initiative.evidenceListIsHidden=false")
          .participant-link.participant-link-activity.pointer
            img.pull-left(src="assets/images/participants.svg", width="30px")
            span.person.viewers-text.f14.pointer(translate="PARTICIPANTS") 
        li.overflow-menu-item(ng-click="initiative.evidenceListIsHidden=true; initiative.listIsHidden=false")
          .evidence-link.pointer
            img.evidence.pull-left(ng-show="initiative.evidence.length!==0" src="assets/images/evidence.svg", width="25px")
            img.evidence.pull-left(ng-show="initiative.evidence.length===0" src="assets/images/evidence_nill.svg", width="25px") 
            div.evidence-menu.f14.f14.pointer(translate="EVIDENCE")      
div(ng-include="'app/components/email/email.html'" ng-if="initiativeController.sendEmail && (initiative.initiativeId === initiativeController.emailInitiativeId)")
