@media screen and (max-width: 736px) {
  .body-tag {
    .activity__card{
      .card__title__arrow{
        width: 25%;
      }
    }
    .card{
      .owner.owner-priority {
        width: 80%;
      }
    }
  }
}
