.cards {
  @include clearfix();
  margin: -10px auto 0;
  padding: 10px;
  .cards-left,
  .cards-right {
    position: relative;
    width: 50%;
  }
  .cards-full {
    width: 100%;
  }
  .issue-header-icon{
   width: 22px;
  }
}
.card-half {
  padding: 10px;
  box-sizing: border-box;
}
.card {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid;
  break-inside: avoid; /* IE 10+ */
  position: relative;
  &__container {
    background-color: $default-bg-color;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .13);
  }
  &__title {
    @include clearfix();
    /*csslint box-sizing: false*/
    background-size: 15px;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: $secondary-font;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    user-select: none;
    &__text {
      box-sizing: border-box;
      color: #fff;
      // height: 60px;
      // line-height: 40px;
      padding: 10px 15px;
      width: 75%;
      // overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      span {

        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 100%;
        height: 40px; 
        margin: 0 auto;
        line-height: 1.2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        // height: 60px;
        // line-height: normal;
      }
      &__override {
        width: 100%;
      }
    }
    &__arrow {
      padding: 20px 0;
      text-align: right;
      width: 25%;
      &__icon {
        padding: 0 20px;
      }
      &__issue {
        padding: 0 10px 0 0;
      }
    }
    &--collapsed {
      border-radius: 5px;
    }
  }
  &__content {
    @include clearfix();
    min-height: 100px;
    padding: 15px;
    position: relative;
  }
  &__spinner {
    background: rgba(0, 0, 0, .5) url('../assets/images/spinner-svg.svg') no-repeat center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }
  &__footer {
    @include clearfix();
    background: #eee;
    min-height: 30px;
    padding: 10px 15px;
    text-align: center;
  }
  &--isCollapsed {
    padding-bottom: 0;
    padding-top: 2px;
  }
  &--isNotCollapsed {
    padding-bottom: 2px;
    padding-top: 0;
    transform: rotate(180deg);
  }
}
.edit-click {
  border-right: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, .52);
  color: #fff;
  padding: 10px 20px 12px;
  position: relative;
  z-index: 2;
}
.add-card {
  background: url("../assets/images/plus-white.svg") no-repeat top;
  background-size: 18px;
  color: #fff;
  font-family: $secondary-font;
  margin: 0 10px 0 0;
  padding: 20px 0 0;
  position: absolute;
  right: 75px;
  top: 75px;
  font-size: 10px;
  min-width: 20px;
  text-align: center;
}
.legend-heading {
  float: left;
  padding: 0 20px 20px 0;
}
.output-legends {
  .legend-heading {
    padding: 10px 0;
    float: none;
  }
  .legend-container {
    padding: 10px 0;
  }
}
.legend-container {
  li {
    display: inline-block;
    margin: 0 5px;
    right: 105px;
  }
}
.legend {
  @include clearfix();
  margin-bottom: 10px;
  padding: 20px 20px 0;
  .tabs-container {
    margin-bottom: 15px;
  }
}
.current-target-legend,
.overall-legend {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid $on-track-color;
  height: 0;
  margin-right: 5px;
  width: 0;
}
.overall-legend {
  border-top: 12px solid $completed-color;
}
.completed-legend,
.on-track-legend,
.delayed-legend,
.unknown-legend {
  background-color: $completed-color;
  border-radius: 2px;
  height: 17px;
  margin-right: 5px;
  vertical-align: sub;
  width: 17px;
}
.on-track-legend {
  background-color: $on-track-color;
}
.delayed-legend {
  background-color: $delayed-color;
}
.unknown-legend {
  background-color: $unknown-color;
}
.tabs {
  color: $header-color;
  display: inline-block;
  .tab {
    border-bottom: 2px solid $primary-card-header-color;
    padding: 10px;
    &--active {
      border-bottom: 5px solid $primary-card-header-color;
      color: $primary-card-header-color;
      max-height: 17px;
    }
  }
}
.landing-title {
  @include clearfix();
  padding: 10px;
  user-select: none;
  &:after {
    border: 1px solid rgb(1, 1, 1);
    border: 1px solid rgba(1, 1, 1, .3);
    content: '';
    display: block;
    left: 15%;
    position: relative;
    top: -9px;
    max-width: 75%;
  }
}
.collapsed {
  transform: rotate(180deg);
}
.cards-landing {
  @include clearfix();
  .category__title__arrow__icon {
    padding: 0 10px 0 0;
  }
}
.add-icon {
  padding: 0 5px;
}
.kpi-desc-link {
  left: 50%;
  position: absolute;
  margin-left: -15px;
}
.participant-link-activity {
  left: 32%;
  margin-left: 0;
}
.evidence-link {
  left: 57%;
}
.viewers-text {
  left: 41%;
  padding: 7px 5px 0;
}
.evidence-text {
  left: 63%;
  padding: 7px 5px 0;
}
.kpi-desc,
.participant-list {
  background: #ffffff;
  bottom: 0;
  left: 0;
  opacity: 0.95;
  overflow: auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}
.kpi-desc {
  opacity: 0.9;
}
.kpi-desc-details {
  padding-top: 20px;
}
.participant-table {
  width: 100%;
  margin-top: 10px;
  tr:nth-child(2n) {
    background-color: #F3F3F3;
  }
  thead {
    background-color: #A3A3A3;
  }
  td {
    width: 50%;
    padding: 5px;
  }
}
.no-participant {
  padding: 10px;
}
.top-padding {
  padding-top: 100px;
}
.top-padding-less {
  padding-top: 65px;
}
.top-margin {
  margin-top: 100px;
}
.top-margin-less {
  margin-top: 65px;
}
.evidence-links {
  background-color: #E6E6E6;
  padding: 10px;
  margin: 10px;
  width: 90%;
  cursor: pointer;
}
.evidence-title{
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word; 
}
.evidence {
  margin-left: 5px;
  width: 23px;
}
.evidence-menu{
  width: 130px
}
.three-dots {
  .overflow-menu {
    background-color: white;
    color: #000;
    right: 5%;
    position: absolute;
    top: -105%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.2);
    z-index: 100;
    .overflow-menu-item {
      line-height: 20px;
      padding: 10px;
      min-width: 150px;
    }
  }
}
.three-dots-footer {
  background: url("../assets/images/overflow.svg") no-repeat top left;
  width: 5px;
  height: 25px;
  background-size: contain;
}
.three-dots-container{
  width: 35px;
  height: 30px;
  position: absolute;
  right: 1%;
  padding: 20px;
  top: 82%;
}
.three-dots-container.three-dots-container-activity{
  top: 76%;
}
.next-arrow{
  position: absolute;
  top: 89%;
  transform: rotate(-90deg);
  right: 15%;
}