.login-wrap{
  position: relative;
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    top:0;
    left:0; 
  }
}
.login{
  position: relative;
  z-index: 99;
}
.login-title {
  background-color: $primary-card-header-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: $secondary-font-color;
  padding: 165px 50px 20px;
}
.image-and-login-container {
  display: flex;
  padding: 100px 0;
  position: relative;
  z-index: 99;
  .image-container {
    text-align: center;
    width: 60%;
    img {
      height: 250px;
    }
  }
  .input-container {
    position: relative;
    &-icon {
      border-right: 1px solid #E3E3E3;
      height: 30px;
      left: 8px;
      padding-right: 9px;
      position: absolute;
      top: 17px;
    }
  }
  .error-message {
    color: $error-message-color;
    max-width: 240px;
    min-height: 16px;
    padding: 10px;
    text-align: center;
  }
}
.spin-button {
  vertical-align: middle;
  width: 30px;
}
.login-container {
  .forgot__password {
    margin-top: 10px;
    a {
      text-decoration: none;
      color: $primary-font-color;
    }
  }
  input {
    border: 0;
    border-radius: 5px;
    margin-top: 5px;
    max-width: 190px;
    padding: 15px 15px 15px 60px;
  }
  button {
    background-color: $primary-card-header-color;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10 -2px #000;
    box-shadow: 0 0 10 -2px rgba(0, 0, 0, .75);
    color: $secondary-font-color;
    cursor: pointer;
    margin-top: 25px;
    min-height: 52px;
    width: 263px;
  }
  .btn-disable {
    opacity: 0.5;
  }
}
.logo-name-container {
  background: url("../assets/images/itrack.png") no-repeat center 15px;
  padding-top: 180px;
  margin: 0 45px;
  background-size: 100px;
}
.login-wrap{
  .logo-name-container{
    padding-top: 110px;
  }
}
.login-header-image{
  width: 20%; 
}