@media screen and (max-width: 736px) {
  .body-tag {
    .login-rtl {
      width: 100%;
      margin-left: 0;
    }
    .login-header-image{
       width: 120px;
       padding: 20px;
    }
    .mobile-title {
      display: block;
    }
    .image-and-login-container {
      .rtl {
        .login-container {
          input {
            padding: 15px 60px 15px 15px;
          }
        }
      }
    }
    .desktop-title {
      display: none;
    }
    .login-background {
      background-color: $mobile-menu-bg-color;
      .view-container {
        background-color: $mobile-menu-bg-color;
        padding: 0;
      }
    }
    .login-wrap{
      height: 100vh;
      width: 100vw;
    }
    .login {
      .logo-name-container {
        padding-top: 160px;
        padding-bottom: 10px;
        background-size: 100px;
      }
    }
    .login-title {
      padding: 0;
      background: transparent;
      text-align: center;
    }
    .image-and-login-container {
      color: white;
      padding: 10px;
      .image-container {
        display: none;
      }
      .login-container {
        width: 80%;
        margin: auto;
        input {
          width: 100%;
          box-sizing: border-box;
          max-width: none;
          padding: 15px 30px 15px 45px;
        }
        button {
          width: 100%;
          margin-top: 0;
          background-color: white;
          color: #000000;
          .spin-button {
            filter: invert(100%);
          }
        }
        .forgot__password {
          text-align: center;
          a {
            color: white;
          }
        }
        .input-container-icon {
          left: 2px;
          padding: 0;
        }
      }
    }
  }
}
