.email {
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;

  &__box {
    @include clearfix();
    background: #fff;
    border-radius: 5px;
    margin: 10% auto;
    width: 75%;

    &__header {
      @include clearfix();
      background: $card-title-bg-color;
      border-radius: 5px 5px 0 0;
      padding: 20px;
    }

    &__content {
      padding: 20px;
    }

    .receiver {
      padding-bottom: 20px;
    }

    .other__receivers {
      input[type=checkbox] + label:before {
        background-color: transparent;
        border: 1px solid #000;
      }

      input[type=checkbox][disabled] + label:before {
        border: 1px solid #b6b6b6;
      }

      padding-bottom: 20px;
    }

    .close__icon {
      width: 25px;
    }

    .title {
      background: url("../assets/images/mail.svg") 0 0/35px 30px no-repeat;
      padding: 5px 0 5px 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 80%;
      margin: 0;
    }

    .mail {
      display: inline-block;
    }

    .textarea {
      width: 98%;
    }

    .msg__area {
      border: solid 1px #d3d3d3;
      border-radius: 5px;
      padding: 25px;
    }

    .department__receivers {
      display: inline-block;
      min-width: 165px;
    }

    .send {
      padding-bottom: 20px;
      width: 120px;

      &__icon {
        margin-bottom: -6px;
        width: 25px;
      }

      &__text {
        padding: 3px 10px;
      }

    }

  }

}
