.issues {
  @extend .block-container;

  .toggle {
    background: #F2F2F2;
    border-radius: 5px 5px 0 0;
    color: #949494;
    font-family: $secondary-font;
    text-align: center;

    &__state {
      box-sizing: border-box;
      display: inline-block;
      padding: 15px;
      width: 49%;
    }
  }

  .issue {
    padding-bottom: 20px;

    &__description {
      @extend .block-description;
      padding: 20px;

      &__subheading {
        padding: 0 0 10px;
      }

      &__detail {
        font-family: $secondary-font;
        padding-bottom: 10px;
      }

    }

  }

  .textarea {
    box-sizing: border-box;
    width: 100%;
  }

}

.edit-container {
  .save-close-container {
    li {
      margin-top: 5px;
      display: inline-block;
      padding: 0 5px;
    }

    li:not(:first-child) {
      border-left: solid 1px black;
    }

  }
}

.error-msg{
  color : $error-message-color;
}

.selected-toggle {
  border-bottom: solid 2px #78BCFF;
  color: $primary-font-color;
  font-family: $primary-font;
}
